html {
  box-sizing: border-box;
  background: #9e0735e8;
  font-family: 'Brush Script MT';
  font-size: 20px;
  font-weight: 200;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 20px;
  font-family: 'Brush Script MT';
}

.searchform {
  width: 50%;
  padding-top: 100px;
  padding-left: -20px;
}

input.search {
  border: 5px solid #360111;
  width: 120%;
  text-align: center;
  outline: 0;
  position: relative;
  left: -5%;
  font-size: 40px;
}

.suggestions li {
  background: rgb(187, 114, 230);
  border: 5px solid rgb(57, 6, 87);
  list-style: none;
  margin: 0;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  display: flex;
  text-transform: capitalize;
  text-align: center;

}
.searchContainer {
  display: flex;
  justify-content: center;
}

.peopleList {
  display: flex;
  justify-content: center;
}


